.picker-center{
    margin: auto;
}
.card-title{
    text-align: center;
}

.grafico-alto{
    max-height: 500px;
    max-width: 800px;
}
.buttons-center{
    margin: auto;
}
.card-subtitle{
    margin: auto;
}
.buttons-tf{
    margin: auto;
}