<nb-card accent="primary">
  <nb-card-header>
    <h5 class="card-title">Entrenamiento Modelo Predictivo</h5>
    <div class="row">
      <p class="card-subtitle">Modulo solo para pruebas de entrenamiento de la red neuronal</p>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form>
      <div class="container">

        <div class="row">

          <div class="col-md-6">

            <div class="row">
              <div class="col-md-2">
                <p>Metric</p>
              </div>
              <div class="col-md-4">
                <nb-select placeholder="Select Showcase" [(selected)]="metric">
                  <nb-option value="accuracy">Accuracy</nb-option>
                  <nb-option value="relu">ReLU</nb-option>
                  <nb-option value="2">Option 2</nb-option>
                  <nb-option value="3">Option 3</nb-option>
                  <nb-option value="4">Option 4</nb-option>
                </nb-select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <p>Loss</p>
              </div>
              <div class="col-md-4">
                <nb-select placeholder="Select Showcase" [(selected)]="loss">
                  <nb-option value="meanSquaredError">Mean Squared Error</nb-option>
                  <nb-option value="relu">ReLU</nb-option>
                  <nb-option value="2">Option 2</nb-option>
                  <nb-option value="3">Option 3</nb-option>
                  <nb-option value="4">Option 4</nb-option>
                </nb-select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <p>Optimizer</p>
              </div>
              <div class="col-md-4">
                <nb-select placeholder="Select Showcase" [(selected)]="optimizer">
                  <nb-option value="sgd">Stochastic Gradient Descent</nb-option>
                  <nb-option value="momentum">Momentum Gradient Descent</nb-option>
                  <nb-option value="adagrad">Adagrad Algorithm</nb-option>
                  <nb-option value="adadelta">Adadelta algorithm</nb-option>
                  <nb-option value="adam">Adam algorithm</nb-option>
                  <nb-option value="adamax">Adamax algorithm</nb-option>
                  <nb-option value="rmsprop">RMSProp Gradient Descent</nb-option>
                </nb-select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <p>Epochs</p>
              </div>
              <div class="col-md-4">
                <input nbInput type="number" [(ngModel)]="epochs" name="epochs">
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <p>Batch Size</p>
              </div>
              <div class="col-md-4">
                <input nbInput type="number" [(ngModel)]="batchSize" name="batchSize">
              </div>
            </div>

          </div>


          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2">
                <p>Time: </p>
              </div>
              <div class="col-md-4">
                {{time}}
              </div>

            </div>

            <div class="row">
              <div class="col-md-2">
                <p>Accuracy: </p>
              </div>
              <div class="col-md-4">
                {{accuracy}}
              </div>

            </div>

            <div class="row">
              <div class="col-md-2">
                <p>Epoch: </p>
              </div>
              <div class="col-md-4">
                {{currentEpoch}}
              </div>

            </div>

            <div class="row">
              <div class="col-md-2">
                <p>Train Loss: </p>
              </div>
              <div class="col-md-4">
                {{trainLoss}}
              </div>


            </div>

            <div class="row">
              <div class="col-md-2">
                <p>Train Mean: </p>
              </div>
              <div class="col-md-4">
                {{trainMean}}
              </div>


            </div>

            <div class="row">
              <div class="col-md-2">
                <p>Train STD: </p>
              </div>
              <div class="col-md-4">
                {{trainstdesv}}
              </div>


            </div>

            <div class="row">
              <div class="col-md-2">
                <p>Validation Mean: </p>
              </div>
              <div class="col-md-4">
                {{validationMean}}
              </div>


            </div>

            <div class="row">
              <div class="col-md-2">
                <p>Validation STD: </p>
              </div>
              <div class="col-md-4">
                {{validationstdesv}}
              </div>


            </div>

          </div>




        </div>
      </div>

    </form>
    <div class="row buttons-tf">
      <button class="buttons-tf" (click)="train()" nbButton status="primary">Entrenar</button>
      <button class="buttons-tf" (click)="predecir()" nbButton status="info">Predecir</button>
      <button class="buttons-tf" (click)="guardar()" nbButton status="success">Guardar Modelo</button>
      <button class="buttons-tf" (click)="cargar()" nbButton status="basic">Cargar Modelo</button>
      <button class="buttons-tf" (click)="mostrar()" nbButton status="basic">Mostrar</button>
    </div>

    <p>Prediccion: {{prediccion}}</p>
    <p>Real: {{real}}</p>

  </nb-card-body>
</nb-card>



<input type="file" (change)="csvFile($event.target.files)">
